body { background-color: #606060; }
div#gridContainer {
	position:absolute;
	margin: .5rem;
	top:50%;
	left:0px;
	right:0px;
	transform: translateY(-50%);
}
input { box-sizing: border-box; /*fixes the problem where the 100% width with padding overlaps the container*/ min-width:5rem; background-color: #000000; color: #ffffff; width:100%; font-family:"cascadia code", "cascadia mono", "courier new", courier, monospace; border:0px; border-radius:.5rem; padding:.5rem; }
select { min-width:5rem; background-color: #000000; color: #ffffff; width:100%; border:0px; border-radius:.5rem; padding:.5rem; }
@media (orientation: portrait) {
	input { font-size: 8vw; }
	div#gridContainer { display:grid; gap:.5rem; grid-template-columns: auto auto; grid-template-rows: auto auto auto; }
	select { font-size: 8vw; }
	select#unitType { grid-column: 1/3; }
}
@media (orientation: landscape) {
	input { font-size: 4vw; }
	div#gridContainer { display:grid; gap:.5rem; grid-template-columns: auto auto auto; grid-template-rows: auto auto; }
	select { font-size: 4vw; }
	select#unitType { grid-row: 1/3; }
}
